# Здесь понравившиеся мне задачи

Реализуйте программу, которая для заданных n и k вычисляет Число сочетаний из n по k  C(n, k).

Вашей программе на вход подается строка, содержащая два целых числа n и k (1 ≤ n ≤ 10, 0 ≤ k ≤ 10).
Ваша программа должна вывести единственное число: C(n, k).

In [5]:
def sochet(a,b):
    if b==0:
        return 1
    elif b>a:
        return 0
  #  C(n, k) = C(n - 1, k) + C(n - 1, k - 1)
    else:
        return sochet(a-1,b)+sochet(a-1,b-1)
        
n, k = map(int, input().split())
print(sochet(n,k))
 # Рекурсия красивая

8 2
28

Реализуйте программу, которая будет вычислять количество различных объектов в списке.
Два объекта a и b считаются различными, если a is b равно False.

Вашей программе доступна переменная с названием objects, которая ссылается на список, содержащий не более 100 объектов. Выведите количество различных объектов в этом списке.

In [12]:
objects = [1, 2, 1, 5, True, False, True, 'false', [], [1,2]]
l=[]
for el in objects:
    l.append(id(el))
print(len(set(l)))
# Изящно

8

У Дори в глубинах океана есть кучка камней. Часть камней из этой кучки драгоценные. Недавно она пересчитала все драгоценные и забыла сколько их. Чтобы больше не забывать, Дори решила написать на питоне функцию, которая будет считать камни за неё.

Напишите на python функцию, которая принимает на вход список драгоценных камней $J$ и список камней, которые есть у Дори $S$. На выход функция возвращает число драгоценных камней в запасах Дори.

__Примеры:__ 

> Input: J = "aA", S = "aAAbbbb" <br />
Output: 3

Тут драгоценными считаются камни a и A. У Дори есть камни aAAbbbb. Среди них три драгоценных, aAA.

>Input: J = "z", S = "ZZ" <br />
Output: 0

Драгоценными мы считаем только камень z. У Дори два камня, оба обычные.

In [3]:
def numJewelsInStones(J, S):
    cn=0
    for i in S:
        for j in J:
            if j == i:
                cn+=1
    return cn
print(numJewelsInStones("aA", "aAAbbbb"))
print(numJewelsInStones("z", "ZZ"))
# функциональное программирование

3
0

In [6]:
st1=[lambda x: for x in J:lst1.append(x)]
#return=len(list(set(lst1) & set(lst2)))

SyntaxError: invalid syntax (Temp/ipykernel_7208/641673328.py, line 1)

In [7]:
import pandas as pd  # подгружаем пакеты
import numpy as np
import torch

ModuleNotFoundError: No module named 'torch'

In [23]:
J = "aA" 
S = "aAAbbbb"
a=pd.Series()
b=pd.Series()
#pd.Series(d)
for j in J:
    a=a.append(j)
for i in S:
    b=b.append(j)
print((a==b).count)

C:\Users\Dry\AppData\Local\Temp/ipykernel_7208/1292167221.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  a=pd.Series()
C:\Users\Dry\AppData\Local\Temp/ipykernel_7208/1292167221.py:4: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  b=pd.Series()

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

1). Создайте два вещественных тензора: a размером (3, 4) и b размером (12,) 2). Создайте тензор c, являющийся тензором b, но размера (2, 2, 3) 3). Выведите первый столбец матрицы a с помощью индексации

In [ ]:
a = torch.FloatTensor(3, 4)
#print(a)
b = torch.FloatTensor(12, 2)
#print(b)
b.shape
c=b.view(6,2,2)
#print(c)
c.shape
print(a.T[0])

1). Создайте два вещественных тензора: a размером (5, 2) и b размером (1,10) 
2). Создайте тензор c, являющийся тензором b, но размера (5, 2)

In [ ]:
a = torch.FloatTensor(5,2)
print(a.shape)
b = torch.FloatTensor(1,10)
print(b.shape)
c=b.view(5,2)
print(c)

In [17]:
import numpy as np
import pandas as pd
# Замечательные данные для упражнений
d = {'num_legs': [4, 4, 2, 2],
     'num_wings': [0, 0, 2, 2],
     'class': ['mammal', 'mammal', 'mammal', 'bird'],
     'animal': ['cat', 'dog', 'bat', 'penguin'],
     'locomotion': ['walks', 'walks', 'flies', 'walks']}
df = pd.DataFrame(data=d)
df = df.set_index(['class', 'animal', 'locomotion'])
df

                           num_legs  num_wings
class  animal  locomotion
mammal cat     walks              4          0
       dog     walks              4          0
       bat     flies              2          2
bird   penguin walks              2          2

In [18]:
# отсортировали число пропусков по убыванию и вывели топ-10 
df.isnull().sum().sort_values(ascending=False).head(10)

num_legs     0
num_wings    0
dtype: int64

Метод `.fillna(что-то)` позволяет заполнить пропуски чем-нибудь нейтральным. Например, посмотрим на колонку `city`. В ней сейчас есть пропуски.

In [19]:
df['num_wings'].head()

class   animal   locomotion
mammal  cat      walks         0
        dog      walks         0
        bat      flies         2
bird    penguin  walks         2
Name: num_wings, dtype: int64

Давайте заполним их значением "не указано".

In [20]:
df['num_wings'] = df['num_wings'].fillna('Не указано')
df['num_wings'].head()

class   animal   locomotion
mammal  cat      walks         0
        dog      walks         0
        bat      flies         2
bird    penguin  walks         2
Name: num_wings, dtype: int64

На последок вот вам __пара панд.__ Ведь именно в честь них (на самом деле в честь panel data) назван пакет pandas.

![](http://www.hughlansdown.com/photos/wildlife/mammals/pair-of-red-pandas.jpg)